<div class="card-actions float-end">
    <div class="dropdown position-relative">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static"
           aria-expanded="false">
            {{ include('admin/components/btn/_three_dot.html.twig') }}
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            {{ actions }}
        </div>
    </div>
</div>