<div class="card">
    <div class="card-header pb-0">
        {{ include('admin/components/card/_actions.html.twig', {actions: actions}) }}
        <h5 class="card-title mb-0">Stores</h5>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            {{ table_head }}
            </thead>
            <tbody>
            {{ table_body }}
            </tbody>
        </table>

        {{ include('admin/components/pagination.html.twig', {pagination: pagination}) }}

    </div>
</div>