{% for name, widget in form %}
    <div class="mb-2">
        {% set widget_type = widget.vars.block_prefixes|first %}
        {% if widget_type != 'button' %}
            {% if name != '_token' %}
                <div class="font-weight-bold">
                    {{ form_label(widget, null, {label_attr: {class: 'form-label'}}) }}
                </div>
            {% endif %}

            {{ form_widget(widget) }}

            <small>{{ form_help(widget) }}</small>

            <div class="form-error">
                {{ form_errors(widget) }}
            </div>
        {% endif %}
    </div>
{% endfor %}