.zoom:hover {
  transform: scale(1.2);
}

.zoom:active {
  animation: none;
}

.zoom:active:after {
  animation: wiggle 2s linear infinite;
}

.zoom {
  transition: transform .2s;
  animation: wiggle 2s linear;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}