.main {
  display: flex;
  flex: 1 1 auto;
  width: auto;
  min-width: 0;
  min-height: 100vh;
  transition: $sidebar-transition;
  background: $body-bg;
  flex-direction: column;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.turbo-progress-bar {
  height: 3px;
  background: $primary;
}

#admin-main-content {
  transition: opacity .15s ease-in-out;
}

.admin-navigation-loading #admin-main-content {
  opacity: .72;
}
